<div id="home-container">
    <h1 class="text-color-2"> 
        <span class="text-color-1"> < </span> 
        cold
        <span class="text-color-1"> > </span> 
    </h1>

    <h2 class="text-color-1"> Boa noite! </h2>
    <h3 class="text-color-2"> Qual seu nome? </h3>

    <div id="form">
        <input id="username-field" type="text" name="username" placeholder="Nome">
        <button class="text-color-1" type="button" routerLink="/first-question"> OK > </button>
    </div>

    <p class="text-color-1 no-name"> Não quero informar meu nome > </p>
</div>